@page
@model ErrorModel
@{
    ViewData["Title"] = "Om sidan";
}

<div class="contentTextContainer">
    <p>Hallåj!</p>
    <p>Jag heter Niklas Ståhlenberg och studerar andra året på mittuniversitetet.</p>
    <p>Studerar just nu webbutveckling.</p>
    <p>Jag har en dotter på 8 månader och en sambo, vi bor just nu i Borlänge.</p>
    <p>I framtiden hoppas jag att jag får jobb hos en firma som kör väldigt mycket ASP.NET Core programmering.</p>
    <p>Lär dock sätta mig in lite i Azure, ska försöka göra detta i sommar.</p>
</div>
