@page
@model IndexModel
@{
    ViewData["Title"] = "Startsida";
}

    <div class="contentTextContainer">
        <h1>Välkomna till min sida!</h1><br />
        <p>Denna sida är skriven i ASP.NET Core och är en del av en kurs jag läser.</p>
        <p>Detta är min första kontakt med ASP.NET Core och razor.</p>
        <p>Det verkar vara ett spännande sätt att göra hemsidor på.</p>
        <p>Ser verkligen fram emot att testa lite NuGets och MVC.</p>
    </div>
